

#sign-in{
    font-size: 0.7em;
}

#user-full-name{
    font-size: 2em;
}

.user-choices{
    font-size: 1em; 
    text-decoration: none;
    margin-top: 2em;
    color: black;   
}

.user-log-out{
    color:grey;
}