#header{
    border-bottom: 1.5px solid;
    height: 3rem;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 1;
}

.logo{
    border-right: 1.5px solid;
    padding-right: 1vw;
}

.title{
    font-size: 1.5em;
    margin-left: 3em;
}

.sign-in-icon{
    border-left: 1.5px solid;
    padding-right: 20px;
    padding-left: 20px
}

.username:hover{
    cursor: pointer;
}