header {
    display: flex;
    justify-content: space-between;

    margin: 1em;

    z-index: 0;
}

nav {
    display: flex;
    align-items: center;
    gap: 1em;
}

.logo-container {
    display: flex;
    gap: 1em;

    align-items: center;
}
.logo-container > h5 {
    margin: 0;
}
#company {
    display: none;
}