@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.content {
  margin-top: 2rem;
}

/* Admin.js */
.admin {
  margin-top: 2rem;
}

/* Login.js */

.offscreen {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
}

.persistCheck {
  font-size: 0.75rem;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.persistCheck label {
  margin: 0;
}

/* Navigation.js */
.home-header{
  height:2.3rem;
  background-color: white;
}

/* Register.js */
.register-form{
  display: inline-block;
  border: 1px solid;
  padding: 2em;
  width: 40vw;
  left: 30vw;
  top: 20vh;
  position: fixed;
}

.valid {
  color: green;
}

.invalid {
  color: red;
}

.offscreen {
  height: 0;
  width: 0;
  overflow: hidden;
  display: block;
}

.hide{
  display: none;
}

/* Home.js */
.home-image{
  height: 90%;
  width: 100%;
  overflow-x: hidden;
}

.home-text{
  font-size: 2em;
  color: white;
  inline-size: 34vw;
  text-align: center;
  position:absolute;
  top: 49vh;
  left: 30vw;
}

/* Recipes.js */
.container-recipes {

  gap: 10px;
  grid-template-areas: 
    'filter recipes recipes recipes recipes'
    'filter recipes recipes recipes recipes'
    'pages pages pages pages pages';

}

.pages {

  grid-area: pages;

}

.recipes {

  grid-area: recipes;

}

.filter {

  grid-area: filter;

}

.br {
  border-right: 1px solid;
}

.pages {
  text-align: center;
}

.filter-item {

  display: flex;
  align-content: center;
  padding-bottom: 1rem;

}

.recipe-list {
  list-style: none;
  display: grid;
  width: 100%;
}

.recipe-list > li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

.recipe-image {
  padding-right: 1rem;
  width: 140px;
  height: 140px;
}

.recipe-title {
  font-size: 2rem;
}

.recipe-time {
  font-size: 1rem;
  color: grey;
}

